# Stack uses this directory as scratch space
.stack-work/
# Stack generates the Cabal file from `package.yaml` via hpack
terradiff.cabal
*~
# Our Makefile uses this to register that Docker images have been built
.uptodate
